@font-face {
    font-family: 'Fkscreamer slanted';
    src: url('https://assets.website-files.com/64382dc5227f0625cc178a91/64382dc5227f06e810178ab2_FKScreamer-Slanted.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fkscreamer upright';
    src: url('https://assets.website-files.com/64382dc5227f0625cc178a91/64382dc5227f0668ea178ab0_FKScreamer-Upright.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Fkscreamer backslanted';
    src: url('https://assets.website-files.com/64382dc5227f0625cc178a91/64382dc5227f06ba58178ab7_FKScreamer-Backslanted.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Worksans';
    src: url('https://assets.website-files.com/64382dc5227f0625cc178a91/64382dc5227f064524178abc_WorkSans-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Worksans';
    src: url('https://assets.website-files.com/64382dc5227f0625cc178a91/64382dc5227f06c0ab178ab8_WorkSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Worksans';
    src: url('https://assets.website-files.com/64382dc5227f0625cc178a91/64382dc5227f06e997178aac_WorkSans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Worksans';
    src: url('https://assets.website-files.com/64382dc5227f0625cc178a91/64382dc5227f06728c178ab4_WorkSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Worksans';
    src: url('https://assets.website-files.com/64382dc5227f0625cc178a91/64382dc5227f063f9d178abd_WorkSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Worksans';
    src: url('https://assets.website-files.com/64382dc5227f0625cc178a91/64382dc5227f065133178ab9_WorkSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Worksans';
    src: url('https://assets.website-files.com/64382dc5227f0625cc178a91/64382dc5227f061bbe178abb_WorkSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Worksans';
    src: url('https://assets.website-files.com/64382dc5227f0625cc178a91/64382dc5227f063576178aa9_WorkSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}