---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
import Footer from "../components/Footer.astro";
import Buttons from "../components/Buttons.astro";
import Clients from "../components/Clients.astro";
import { webServicies, brandingServicies } from "../data/data";
---

<Layout title="ELEPEA_ [Development - Branding]">
	<div class="container mx-auto p-4 items-center flex flex-col">
		<Logo />
		<div
			class="flex gap-9 mt-32 animate-fade-in flex-col md:flex-row items-stretch"
		>
			<Buttons
				title="Development"
				color="bg-primary"
				services={webServicies}
				orientation="md:-right-60 top-44 md:top-auto"
			/>
			<Buttons
				title="Branding"
				color="bg-secondary"
				services={brandingServicies}
				orientation="md:-left-60 -top-52 md:top-auto"
			/>
		</div>
		<Clients />
		<Footer />
	</div>
</Layout>
<script is:inline>
	const $cards = document.querySelectorAll("button");
	$cards.forEach((card) => {
		card.addEventListener("mouseover", () => {
			card.nextElementSibling.classList.remove("opacity-0");
			$cards.forEach((c) => c !== card && c.classList.add("blur-2xl"));
		});
		card.addEventListener("mouseleave", () => {
			card.nextElementSibling.classList.add("opacity-0");
			$cards.forEach((c) => c !== card && c.classList.remove("blur-2xl"));
		});
	});
</script>
../data/data
