---
import Layout from "../layouts/Layout.astro";
---

<Layout title="ELEPEA_ [Development - Design - Advertisement]">
    <div class="container mx-auto px-10 py-5">
        <h3 class="font-bold text-2xl">Política de Privacidad</h3>
        <p>
            Esta extensión no recoge ningún tipo de información del cliente o
            del navegador, toda la información es mostrada de manera local y en
            tiempo real al usuario.
        </p>
    </div>
</Layout>
