---
import {clients} from '../data/data'
---

<div class="embla w-full mt-32">
    <div class="embla__container">
        {
            clients.map((client) => (
                <div class="embla__slide justify-center items-center flex text-center">
                    <img src=`/clients/${client.logo}` alt=`${client.name}`  class="max-w-40" />
                </div>
            ))
        }
    </div>
</div>

<script>
    import EmblaCarousel from "embla-carousel";
    import AutoScroll from "embla-carousel-auto-scroll";

    const emblaNode = document.querySelector(".embla");
    const options = { loop: true };
    const plugins = [
        AutoScroll({
            speed: 1,
            startDelay:0,
            stopOnInteraction:false,
            stopOnFocusIn:false
        }),
    ];

    const emblaApi = EmblaCarousel(emblaNode as HTMLElement, options, plugins);
</script>

<style>
    .embla {
        overflow: hidden;
    }
    .embla__container {
        display: flex;
    }
    .embla__slide {
        flex: 0 0 12rem;
        min-width: 0;
        color: #fff;
        opacity: 0.8;
    }
</style>
